<header>
    <nav>
        <a class="logo" href="/">Job Application Tracker</a>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#">Stages</a></li> -->
            <li><a href="/about">About</a></li>
            <li><button class="main-btn" id="login-btn">Login</button></li>
        </ul>
        <div class="hamburger" id="hamburger">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </nav>
</header>
