<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<head>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <%- include("./partials/nav.ejs")%>
    <main>
        <section class="about-container">
            <div class="content">
                <p class="title-p">About Job Application Tracker</p>
                <p class="about-p">This job application tracker simplifies the application process by allowing users to record job posting links, personal notes, and application dates. With search and filter options by company, role, or date, you can stay organized.</p>
                <p class="author">Developer: vinjwacr7@gmail.com <a class="about-link" href="https://www.linkedin.com/in/sthembiso-vinjwa/">LinkedIn</a></p>
            </div>
        </section>
    </main>
    <%- include("./partials/footer.ejs")%>
    <script src="script.js"></script>
</body>
</html>