<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<head>
    <link rel="stylesheet" href="auth.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="loader"></div>
    <%- include("./partials/nav.ejs")%>
    <main>
        <div class="login-div" style="height: 20em;">
            <form name="loginForm" class="login-form" id="signup" onsubmit="event.preventDefault(); signup()">
                <br>
                <br>
                <label for="firstname">First name:</label>
                <input type="text" class="search" name=firstname required>
                <br>
                <br>
                <label for="lastname">Last name:</label>
                <input type="text" class="search" name=lastname required>
                <br>
                <br>
                <label for="email">Email:</label>
                <input type="email" class="search" name="email" required>
                <br>
                <br>
                <label for="password">Password:</label>
                <input type="password" class="search" name="password" required>
                <br>
                <div class="form-message">
                    <p id="formMessage"></p>
                </div>
                <div class="login-btn-container">
                    <input type="submit" class="main-btn" name="login" value="Sign up">
                </div>
                <div class="message-container">
                    <p>Already have an account? <a href="/login">Sign in</a></p>
                </div>
            </form>
        </div>
    </main>
    <%- include("./partials/footer.ejs")%>
    <script src="script.js"></script>
    <script src="signup.js"></script>
</body>
</html>